:root {
  --gutter: 10px;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body,
p,
h1,
h2,
h3,
ul,
ol {
  margin: 0;
  padding: 0;
}
.conteiner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.row > div {
  padding: 5px;
  margin: 0 auto;
}
.col-3 {
  width: calc(25% - var(--gutter));
}
.col-4 {
  width: calc(33.33% - var(--gutter));
}
.col-6 {
  width: calc(50% - var(--gutter));
}
.col-12 {
  width: calc(100% - var(--gutter));
}
@media screen and (max-width: 992px) {
  .conteiner {
    max-width: 100%;
  }
  .col-lg-3 {
    width: calc(25% - var(--gutter));
  }
  .col-lg-4 {
    width: calc(33.33% - var(--gutter));
  }
  .col-lg-6 {
    width: calc(50% - var(--gutter));
  }
  .col-lg-12 {
    width: calc(100% - var(--gutter));
  }
}
@media screen and (max-width: 768px) {
  .conteiner {
    max-width: 100%;
  }
  .col-md-3 {
    width: calc(25% - var(--gutter));
  }
  .col-md-4 {
    width: calc(33.33% - var(--gutter));
  }
  .col-md-6 {
    width: calc(50% - var(--gutter));
  }
  .col-md-12 {
    width: calc(100% - var(--gutter));
  }
}
@media screen and (max-width: 576px) {
  .conteiner {
    max-width: 100%;
  }
  .col-sm-3 {
    width: calc(25% - var(--gutter));
  }
  .col-sm-4 {
    width: calc(33.33% - var(--gutter));
  }
  .col-sm-6 {
    width: calc(50% - var(--gutter));
  }
  .col-sm-12 {
    width: calc(100% - var(--gutter));
  }
}
